<%= render "shared/errors", model: @visitor_entry %>

<div class='bg-white rounded-5 py-4 px-5 shadow'>

  <h1>Registrar nova entrada</h1>

  <%= form_with(model: [@condo, @visitor_entry]) do |f| %>
    <div class="form-row row p-2">
      <div class="form-group col-md-8 pe-3 mb-2">
        <%= f.label :full_name %>
        <%= f.text_field :full_name , class: 'form-control'%>
      </div>
      
      <div class="form-group col-md-4 pe-3 mb-2">
        <%= f.label :identity_number%>
        <%= f.text_field :identity_number, class: 'form-control' %>
      </div>
    
      <div class="form-row row m-0 p-0", data-controller="units">
        <div class="form-group col-md-8 pe-3 mb-2">
          <%= f.label :tower_id %>
          <%= f.collection_select :tower_id, @condo.towers, :id, :name, { prompt: "Deixe em branco ou selecione uma torre" }, :'data-units-target' => "tower", :'data-action' => "change->units#changeTower", class: 'form-control form-select' %>
        </div>

        <div class="form-group col-md-4 pe-3 mb-2">
          <%= f.label :unit_id %>
          <%= f.collection_select :unit_id, {}, {}, {}, {}, :'data-units-target' => "unit", class:"form-control form-select" %>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <%= f.submit class: 'btn btn-dark rounded-pill px-4 mt-3' %>
    </div>
  <% end %>
</div>