<div class="bg-white rounded-5 py-4 px-5 shadow">
  <div class="text-center">
    <h1 class="mb-3"><%= @resident.full_name %></h1>
    <p class="text-secondary mb-5">CPF: <%= @resident.registration_number %> | Email: <%= @resident.email %></p>
  </div>


  <% if @resident.residence %>
    <div class='text-center'>
      <hr>
      <h2>Moradia Atual</h2>
      <p><strong>Condomínio:</strong> <%= @resident.residence.condo.name %></p>
      <p><strong>Torre:</strong> <%= @resident.residence.tower.name %></p>
      <p><strong>Unidade:</strong> <%= @resident.residence.short_identifier %></p>
    </div>
  <% end %>

  <hr>

  <div class="mt-5">
    <h2 class="text-center mt-4">Cadastrar Moradia</h2>
    <%= form_with model: @resident, url: resident_tenants_path(@resident), method: :post do |f| %>
      <div data-controller="resident">
        <div class="form-row d-flex p-2">
          <div class="form-group col-md-12 pe-3">
            <%= f.label :condo_id%>
            <%= f.collection_select :condo_id, @condos, :id, :name, {}, :'data-resident-target' => "condo", :'data-action' => "change->resident#changeCondo", class: 'form-control form-select' %>
          </div>
        </div>

        <div class="form-row d-flex p-2">
          <div class="form-group col-md-4 pe-3">
            <%= f.label :tower_id%>
            <%= f.collection_select :tower_id, {}, {}, {}, {}, :'data-resident-target' => "tower", :'data-action' => "change->resident#changeTower", class: 'form-control form-select' %>
          </div>

          <div class="form-group col-md-4 pe-3">
            <%= f.label :floor %>
            <%= f.collection_select :floor, {}, {}, {}, {}, :'data-resident-target' => "floor", class: 'form-control form-select' %>
          </div>

          <div class="form-group col-md-4 pe-3">
            <%= f.label :unit%>
            <%= f.collection_select :unit, {}, {}, {}, {}, :'data-resident-target' => "unit", class: 'form-control form-select' %>
          </div>
        </div>

      <div class="form-group d-flex justify-content-center">
        <%= f.submit class:"btn btn-dark rounded-pill px-4 mt-3" %>
        <%= f.submit 'Não reside neste condomínio', class:'btn btn-dark rounded-pill px-4 mt-3 ms-3' %>
      </div>
    <% end %>
  </div>
</div>