<section class="bg-white rounded-5 py-4 px-5 shadow">
  <h1 class="mb-3"><%= @announcement.title %></h1>

  <div class="card mt-4 border border-primary shadow-lg">
    <div class="card-body trix-content">
      <%= @announcement.message %>
    </div>
  </div>

  <div class="mt-4 text-muted small">
    <p><strong>Autor:</strong> <%= @announcement.manager.full_name %></p>
    <p><strong>Criado em:</strong> <%= I18n.l(@announcement.created_at, format: :custom) %></p>
    <p><strong>Atualizado em:</strong> <%= I18n.l(@announcement.updated_at, format: :custom) %></p>
  </div>

  <% if manager_signed_in? %>
    <div class="d-flex justify-content-center mt-4">
      <%= link_to "Editar", edit_announcement_path(@announcement), class: "btn btn-dark rounded-pill px-4 me-2" %>
      <%= link_to "Excluir", announcement_path(@announcement), data: { turbo_method: :delete, turbo_confirm: "Tem certeza que deseja excluir?" }, class: "btn btn-danger rounded-pill px-4" %>
    </div>
  <% end %>
</section>
