<div class='bg-white rounded-5 py-4 px-5 shadow'>
  
  <div class="d-flex mb-5 justify-content-between">
    <h1>Meus visitantes/funcionários registrados</h1>
    <%= link_to 'Registrar Nova Entrada de Visitante', new_resident_visitor_path(@resident), class:'btn btn-dark rounded-pill px-4 m-2' %>
  </div>

  <table class="table table-sm">
    <thead>
      <tr>
        <th scope="col">Nome Completo</th>
        <th scope="col">RG</th>
        <th scope="col">Categoria:</th>
        <th scope="col">Proxima Data Autorizada:</th>
      </tr>
    </thead>
    <tbody>
      <% @visitors.each do |visitor| %>
        <tr id="visitor-<%= visitor.id %>">
          <td><%= visitor.full_name %></td>
          <td><%= visitor.identity_number %></td>
          <td><%= I18n.t(visitor.category) %></td>
          <td class="d-flex align-items-center"><%= I18n.l(visitor.visit_date) %> 
            <% if visitor.employee? %>
                <span class="badge text-bg-warning ms-1 rounded-pill"><%= I18n.t(visitor.recurrence) %></span>
            <% end %>
        </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>