<div class='bg-white rounded-5 py-4 px-5 shadow'>
  
  <div class="d-flex mb-5 justify-content-between">
    <h1>Meus visitantes/funcionários registrados</h1>
    <%= link_to 'Registrar Nova Entrada de Visitante', new_resident_visitor_path(@resident), class:'btn btn-dark rounded-pill px-4 m-2' %>
  </div>
  <div class="table-responsive">
    <table class="table table-hover table-sm align-middle ">
      <thead>
        <tr>
          <th scope="col" class="col-5">Nome Completo</th>
          <th scope="col" class="col-2">RG</th>
          <th scope="col" class="col-2">Categoria</th>
          <th scope="col" class="col-2">Proxima Data Autorizada</th>
        </tr>
      </thead>
      <tbody>
        <% @visitors.each do |visitor| %>
          <tr id="visitor-<%= visitor.id %>">
            <td><%= visitor.full_name %></td>
            <td><%= visitor.identity_number %></td>
            <td><%= I18n.t("activerecord.attributes.visitor.categories.#{visitor.category}") %></td>
            <td><%= I18n.l(visitor.visit_date) %> 
              <% if visitor.employee? %>
                  <span class="badge text-bg-warning ms-1 rounded-pill"><%= I18n.t("activerecord.attributes.visitor.recurrences.#{visitor.recurrence}") %></span>
              <% end %>
          </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>