<%= render 'shared/errors', model: @resident %>

<div class="bg-white rounded-5 py-4 px-5 shadow">
  <div class="text-center">
    <h1 class="fs-2"><%= @resident.full_name %></h1>
    <p class="text-secondary mb-4">CPF: <%= @resident.registration_number %> | Email: <%= @resident.email %></p>
  </div>

  <hr>

  <div class="mb-3 mx-1">
    <div class="text-center mt-4">
      <% if @resident.properties.any? %>
        <h2>Unidades já possuídas</h2>
        <div class="container">
          <div class="row mb-3 units-array">
            <% @resident.properties.each do |unit| %>
              <div class="col-md-4 col-lg-2 mb-4 unit">
                <div class="card h-100 shadow-sw">
                  <div class="card-body text-center">
                    <h3 class="card-title fs-5">Condomínio: <%= unit.condo.name %></h3>
                    <p class="card-text">Torre: <%= unit.tower.name %></p>
                    <p class="card-text">Unidade: <%= unit.short_identifier %></p>
                    <%= button_to 'Remover', resident_owner_path(@resident, unit.id), method: :delete, class: 'btn btn-dark rounded-pill px-4 mt-3' %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% else %>
        <h4 class="mb-3">Não possui propriedades no condomínio</h4>
      <% end %>
    </div>
  </div>
</div>

<div class="bg-white rounded-5 py-4 px-5 shadow my-5">
  <div>
    <h2 class="text-center mt-4">Adicionar nova propriedade</h2>
    <%= form_with model: @resident, url: resident_owners_path(@resident), method: :post do |f| %>
    <div data-controller="resident">
      <div class="form-row d-flex p-2">
        <div class="form-group col-md-12 pe-3">
          <%= f.label :condo_id %>
          <%= f.collection_select :condo_id, @condos, :id, :name, {}, :'data-resident-target' => "condo", :'data-action' => "change->resident#changeCondo", class: 'form-control form-select' %>
        </div>
      </div>

      <div class="form-row d-flex p-2">
        <div class="form-group col-md-4 pe-3">
          <%= f.label :tower_id %>
          <%= f.collection_select :tower_id, {}, {}, {}, {}, :'data-resident-target' => "tower", :'data-action' => "change->resident#changeTower", class: 'form-control form-select' %>
        </div>

        <div class="form-group col-md-4 pe-3">
          <%= f.label :floor %>
          <%= f.collection_select :floor, {}, {}, {}, {}, :'data-resident-target' => "floor", class: 'form-control form-select' %>
        </div>

        <div class="form-group col-md-4 pe-3">
          <%= f.label :unit %>
          <%= f.collection_select :unit, {}, {}, {}, {}, :'data-resident-target' => "unit", class: 'form-control form-select' %>
        </div>
      </div>

      <div class="form-group d-flex justify-content-center">
        <%= f.submit 'Adicionar Propriedade', class:'btn btn-dark rounded-pill px-4 mt-3' %>
        <%= f.submit 'Finalizar Cadastro de Propriedades', class: 'btn btn-dark rounded-pill px-4 mt-3 ms-3' %>
      </div>
    </div>
    <% end %>
  </div>
</div>