<div class='bg-white rounded-5 py-4 px-5 shadow'>
  <h2 class="text-center">Altere sua senha</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.hidden_field :reset_password_token %>

    <div class="form-row d-flex p-2">
      <div class="form-group col-md-6 pe-3">
        <%= f.label :password, "Nova senha" %>
        <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form-control #{'is-invalid' if @resident.errors[:password].any?}" %>
        <%= render("shared/errors", model: @resident, attribute: :password) if @resident.errors[:password].any? %>
      </div>

      <div class="form-group col-md-6">
        <%= f.label :password_confirmation, "Confirme sua nova senha" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control #{'is-invalid' if @resident.errors[:password_confirmation].any?}" %>
        <%= render("shared/errors", model: @resident, attribute: :password_confirmation) if @resident.errors[:password_confirmation].any? %>
      </div>
    </div>

    <div class="d-flex justify-content-center">
      <%= f.submit "Alterar minha senha", class: 'btn btn-dark rounded-pill px-4 mt-1' %>
    </div>
  <% end %>
</div>
