<section>
  <h1>Cadastrar Pavimento Tipo da <%= @tower.name %></h1>

  <%= render 'shared/errors', model: @tower %>

  <%= form_with url: update_floor_units_condo_tower_path(@tower.condo, @tower), method: :patch do |f| %>
    
    <% @tower.units_per_floor.times do |index| %>
      <div id = <%= "unit-#{index + 1}" %>>
        <h3>Unidade Modelo <%= index + 1 %></h3>
        <%= f.label "unit_types[#{index}]", "Tipo de Unidade" %>
        <%= f.collection_select "unit_types[#{index}]", @unit_types, :id, :description, prompt: "Selecione o tipo de unidade" %>
      </div>
    <% end %>

    <div>
      <%= f.submit 'Atualizar Pavimento Tipo' %>
    </div>

  <% end %>
</section>