<%= render 'shared/breadcrumb' %>
<section>
  <h1><%= @tower.name %></h1>

  <p>Quantidade de Andares: <%= @tower.floor_quantity %></p> 
  <p>Apartamentos por Andar: <%= @tower.units_per_floor %></p>

  <h2>Andares</h2>
  <% @tower.floors.each do |floor| %>
    <p><%= link_to("#{floor.identifier}ยบ Andar", tower_floor_path(@tower, floor)) %><p>
  <% end %>

  <%= link_to 'Editar Pavimento Tipo', edit_floor_units_condo_tower_path(@tower.condo, @tower), class:"btn btn-dark" %>
</section>