<div class='bg-white rounded-5 py-4 px-5 shadow text-center mt-4 mb-3'>
  <h2 class="mb-3 fs-3 mt-4"><%= manager_signed_in? ? 'Calendário de Reservas' : 'Faça Sua Reserva' %></h2>

  <%= month_calendar(events: @common_area.reservations.confirmed) do |date, reservations| %>
    <strong><%= date.day %></strong>
    
    <% if reservations.any? %>
      <% reservations.each do |reservation| %>
        <% if reservation.date == date %>
          <% if reservation.resident == current_resident || manager_signed_in? %>
            <div class="card text-center">
              <div class="card-body">
                <p class="card-text">Reservado por <%= reservation.resident.full_name %></p>
                <% if reservation.date > Time.zone.today %>
                  <%= button_to 'Cancelar', canceled_common_area_reservation_path(@common_area, reservation), data: { turbo_confirm: "Você tem certeza que deseja cancelar a reserva do dia #{I18n.l(date)}?" }, class: 'btn btn-warning btn-sm rounded-pill shadow-sm' unless manager_signed_in? %>
                <% end %>
              </div>
            </div>
          <% else %>
            <div class="card text-center">
              <div class="card-body">
                <p class="card-text">Reservado</p>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <% else %>
      <% if date >= Time.zone.today %>
        <%= button_to 'Reservar', common_area_reservations_path(@common_area, date: date), data: { turbo_confirm: "Você tem certeza que deseja reservar o dia #{I18n.l(date)}?" }, class: 'btn btn-dark btn-sm rounded-pill mt-2 mb-4 shadow-sm' unless manager_signed_in? %>
      <% end %>
    <% end %>
  <% end %>
</div>