<%= render 'shared/errors', model: @common_area %>

<div class='bg-white rounded-5 py-3 px-5 shadow'>
  <h1>Cadastrar nova área comum</h1>

  <%= form_with model: [@condo, @common_area] do |f| %>
    <div class="form-row row p-2">
      <div class="form-group col-md-6 pe-3 mb-2">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>

      <div class="form-group col-md-6 pe-3 mb-2">
        <%= f.label :max_occupancy%>
        <%= f.number_field :max_occupancy, class: 'form-control' %>
      </div>

      <div class="form-group col-md-6 pe-3 mb-2">
        <%= f.label :description %>
        <%= f.text_area :description, class: 'form-control' %>
      </div>

      <div class="form-group col-md-6 pe-3 mb-2">
        <%= f.label :rules %>
        <%= f.text_area :rules, class: 'form-control' %>
      </div>
    </div>

    <div class="d-flex justify-content-center">
      <%= f.submit 'Salvar', class: 'btn btn-dark rounded-pill px-4 mt-3' %>
    </div>
  <% end %>
</div>