<%= render 'shared/breadcrumb' %>

<h1 class="mb-3"><%= @common_area.name %></h1>

<p><strong>Descrição:</strong> <%= @common_area.description %></p>
<p><strong>Capacidade Máxima:</strong> <%= @common_area.max_occupancy %> pessoas</p>
<p><strong>Regras de Uso:</strong> <%= @common_area.rules %></p>

<%= link_to 'Editar', edit_common_area_path(@common_area), class: 'btn btn-primary' %>