<div class='bg-white rounded-5 py-4 px-5 shadow'>
  <h1 class="mb-3"><%= @common_area.name %></h1>

  <p><strong>Descrição:</strong> <%= @common_area.description %></p>
  <p><strong>Capacidade Máxima:</strong> <%= @common_area.max_occupancy %> pessoas</p>
  <p><strong>Regras de Uso:</strong> <%= @common_area.rules %></p>

  <%= link_to 'Editar', edit_common_area_path(@common_area), class: 'btn btn-dark rounded-pill px-4' if manager_signed_in? %>
  <%= link_to 'Reservar', new_common_area_reservation_path(@common_area), class: 'btn btn-dark rounded-pill px-4' if resident_signed_in? %>
</div>

<%= month_calendar do |date| %>
  <strong><%= date.day %></strong>
  <% if @common_area.reservations.any? %>
    <% @common_area.reservations.confirmed.each do |reservation| %>     
      <% if reservation.date == date %>
        <% if reservation.resident == current_resident || manager_signed_in? %>
          <p>Reservado por <%= reservation.resident.full_name %></p>
          <%= button_to 'Cancelar', canceled_reservation_path(reservation), data: { turbo_confirm: 'Você tem certeza que deseja cancelar a reserva?' }, class: 'btn btn-dark rounded-pill px-4' unless manager_signed_in? %>
        <% else %>
          <p>Reservado</p>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>