<nav class="navbar fixed-top py-0">
  <div class="container-fluid py-2" style="background-color: #FDE879">
    <%= link_to 'CondoMinions', root_path, class:"navbar-brand ms-3", style: "font-weight: 600" %>
    <% if resident_signed_in? %>
      <div class="d-inline-flex align-items-center" style="margin: 0 auto;">
        <% if current_resident.user_image.attached? %>
          <%= link_to edit_photo_resident_path(current_resident), style: 'text-decoration: none;' do %>
            <%= image_tag current_resident.user_image, alt: 'Image profile', id: 'resident-profile-image', style:"width: 35px; height: 35px; border-radius: 50%" %>
          <% end %>
        <% else %>
          <%= link_to edit_photo_resident_path(current_resident), style: 'text-decoration: none;' do %>
            <%= image_tag 'blank-profile-icon.webp', alt: 'No image profile', id: 'resident-profile-image', style:"width: 35px; height: 35px; border-radius: 50%" %>
          <% end %>
        <% end %>

        <p class='mx-2 mb-0'><%= current_resident.description %></p>

        <%= button_to destroy_manager_session_path, method: :delete, class: 'btn btn-outline-dark d-inline-flex align-items-center justify-content-center rounded-5' do %>
          <i class="bi bi-power pb-1 me-1"></i> Sair
        <% end %>
      </div>
    <% elsif manager_signed_in? %>
      <div class="d-inline-flex align-items-center" style="margin: 0 auto;">
        <% if current_manager.user_image.attached? %>
          <%= image_tag current_manager.user_image, alt: 'Image profile', style:"width: 45px; height: 45px; border-radius: 50%" %>
        <% else %>
          <%= image_tag 'blank-profile-icon.webp', alt: 'No image profile', style:"width: 45px; height: 45px; border-radius: 50%" %>
        <% end %>

        <p class="my-0 ms-3 me-3"><%= current_manager.description %></p>

        <%= button_to destroy_manager_session_path, method: :delete, class: 'btn btn-outline-dark d-inline-flex align-items-center justify-content-center rounded-5' do %>
          <i class="bi bi-power pb-1 me-1"></i> Sair
        <% end %>
      </div>
    
      <button class="navbar-toggler" id="side-menu" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel" style="background-color: #577998">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title text-white" id="offcanvasNavbarLabel">Gerenciamento</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>

        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <% if current_manager.is_super || current_manager.condos.any? %>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Gerenciar usuarios
                </a>
                <ul class="dropdown-menu dropdown-menu-dark" style="background-color: #4c677f">
                  <li><%= link_to 'Cadastrar morador', new_resident_path, class: "dropdown-item" %></li>
                  <li><hr class="nav-divider m-0"></li>
                  <% if current_manager.is_super %>      
                    <li><%= link_to 'Cadastrar novo administrador', new_manager_path, class: "dropdown-item" %></li>
                  <% end %>
                </ul>
              </li>
            <% elsif manager_signed_in? %>
              <li>Você não tem acesso a nada, contate um super administrador.</li>
            <% end %>
            <li><hr class="nav-divider m-0"></li>
            <li class="nav-item">
              <%= link_to 'Criar Condominio', new_condo_path, class: 'nav-link custom-element text-white', data: { turbo: false } %>
            </li>

            <li><hr class="nav-divider m-0"></li>
            <li class="nav-item">
              <a class="nav-link custom-element text-white" href="#" data-bs-toggle="modal" data-bs-target="#condoSelectPopupForUnitTypes">Criar Tipo de Unidade</a>
            </li>

            <li><hr class="nav-divider m-0"></li>
            <li class="nav-item">
              <a class="nav-link custom-element text-white" href="#" data-bs-toggle="modal" data-bs-target="#condoSelectPopupForTowers">Criar Torre</a>
            </li>

            <li><hr class="nav-divider m-0"></li>
            <li class="nav-item">
              <a class="nav-link custom-element text-white" href="#" data-bs-toggle="modal" data-bs-target="#condoSelectPopupForCommonAreas">Criar Área Comum</a>
            </li>

          </ul>
        </div>
      </div>
    <% end %>

  </div>
  <% unless controller_name == 'home' %>
    <%= render 'shared/breadcrumb' %>
  <% end %>
</nav>

<div class="modal fade" id="condoSelectPopupForTowers" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="condoSelectPopupLabel" aria-hidden="true" >
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="condoSelectPopupLabel">Selecione o Condomínio</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <div class='container text-center'>
          <div class='row'>
            <% Condo.all.each do |condo| %>
              <div class='col'>
                <%= button_to condo.name, new_condo_tower_path(condo), method: :get, class:'btn btn-dark', data: { turbo: false } %>
              </div>
            <% end %>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="condoSelectPopupForUnitTypes" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="condoSelectPopupLabel" aria-hidden="true" >
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="condoSelectPopupLabel">Selecione o Condomínio</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <div class='container text-center'>
          <div class='row'>
            <% Condo.all.each do |condo| %>
              <div class='col'>
                <%= button_to condo.name, new_condo_unit_type_path(condo), method: :get, class:'btn btn-dark', data: { turbo: false } %>
              </div>
            <% end %>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="condoSelectPopupForCommonAreas" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="condoSelectPopupLabel" aria-hidden="true" >
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="condoSelectPopupLabel">Selecione o Condomínio</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <div class='container text-center'>
          <div class='row'>
            <% Condo.all.each do |condo| %>
              <div class='col'>
                <%= button_to condo.name, new_condo_common_area_path(condo), method: :get, class:'btn btn-dark', data: { turbo: false } %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>