<h1>Olá <%= @resident.full_name %>!</h1>

<p>Você foi convidado para se registrar no sistema CondoMinions.</p>
<p>Dados de Login</p>
<p>Tipo de Usuário: <%= t(@resident.resident_type) %></p>
<p>Email: <%= @resident.email %></p>
<p>Senha: <%= @password %></p>
<p>Condomínio: <%= @resident.condo.name %></p>
<p>Torre: <%= @resident.tower.name %></p>
<p>Andar: <%= @resident.floor.print_identifier %></p>
<p>Identificação: <%= @resident.unit.print_identifier %></p>

<p>Por favor, clique no link abaixo para completar seu registro e definir sua senha:</p>
<%= link_to 'Acessar o sistema', root_url %>