<h1>Olá <%= @resident.full_name %>!</h1>

<p>Você foi convidado para se registrar no sistema CondoMinions.</p>
<p>Dados de login:</p>
<p>Email: <%= @resident.email %></p>
<p>Condomínio: <%= @resident.condo.name %></p>
<p>Torre: <%= @resident.tower.name %></p>
<p>Andar: <%= @resident.floor_print_identifier %></p>
<p>Identificação: <%= @resident.unit.print_identifier %></p>

<p>Por favor, clique no link abaixo para completar seu registro e definir sua senha:</p>
<%= link_to 'Redefinir Senha', edit_resident_password_url(@resident, reset_password_token: @token) %>