<div class="card rounded-5 shadow-sm" id="todays-visitors">
  <strong class="card-header text-center rounded-top-5" style="background-color: #FDE879;">Visitantes e funcionários esperados para hoje</strong>
  <div class="card-body">
    <div class="d-flex justify-content-between mx-1">
      <% if resident_signed_in? && current_resident.residence.present? %>
        <%= link_to new_resident_visitor_path(current_resident), class:"btn btn-dark rounded-pill d-flex mb-2 shadow-sm" do %>
          <i class="bi bi-bookmark-plus me-2"></i> <p style="margin: 0; font-size: 14px;">Cadastrar Visitante/Funcionário</p> 
        <% end %>
      <% end %>
      <%= link_to (resident_signed_in? ? resident_visitors_path(current_resident) : root_path), class:"btn btn-dark rounded-pill d-flex mb-2 shadow-sm" do %>
        <p style="margin: 0; font-size: 14px;">Ver todos</p> <i class="bi bi-search ms-1"></i>
      <% end %>
    </div>

    <% if @todays_visitors.any? %>
      <% @todays_visitors.each do |visitor| %>
        <div class="row justify-content-between align-items-center my-1" id="visitor-<%= visitor.id %>">
          <div class="col d-flex">
            <i class="bi bi-person"></i>
            <p class="m-0 ms-1"><%= visitor.full_name %></p>
          </div>
          <span class="col-3 badge bg-dark-subtle text-dark rounded-pill me-3"><%= I18n.t("activerecord.attributes.visitor.categories.#{ visitor.category }") %></span>
        </div>
        <hr class="m-0">
      <% end %>
    <% else %>
      <div class="alert alert-warning text-center mb-2"><%= I18n.t('notice.visitor.todays_empty') %></div>
    <% end %>
  </div>
</div>