<div class='bg-white rounded-5 py-3 px-5 shadow'>
  <h1>Escolha a data da sua reserva</h1>
 
    <%= form_with model: [@common_area, @reservation] do |f| %>
      <div class="form-row row p-2">
        <div class="form-group col-md-12 pe-3 mb-2">
          <%= f.label :date %>
          <%= f.date_field :date, min: Date.current, class: "form-control #{'is-invalid' if @reservation.errors[:date].any?}" %>
          <%= render("shared/errors", model: @reservation, attribute: :date) if @reservation.errors[:date].any? %>
        </div>
      </div>
      
      <div class="d-flex justify-content-center">
        <%= f.submit 'Reservar', class: 'btn btn-dark rounded-pill px-4 mt-3' %>
      </div>
    <% end %>
</div>
