<h1><%= @tower.name %></h1>

<h3><%= @floor.identifier %>ยบ Andar</h3>

<% unit_types = @floor.return_unit_types %>

<%= unit_types.each_with_index do |unit_type, index| %>
  <div id = <%= "unit-type-#{index + 1}" %>>
    <h5> <%= unit_type.description %> </h5>

    <% @floor.units.each do |unit| %>
      <% if unit.unit_type == unit_type %>
        <p><%= unit.print_identifier %></p>
      <% end %>
    <% end %>
  </div>
<% end %>