<h1 class="mb-4">Confirme o seu cadastro</h1>

<%= render 'shared/errors', model: @resident %>

<%= form_with(model: @resident, class: 'text-center') do |f| %>
  <div class="mb-3 row">
    <%= f.label :full_name, class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10"><%= f.text_field :full_name, class: 'form-control', disabled: true %></div>
  </div>
  <div class="mb-3 row", data-controller="mask">
    <%= f.label :registration_number, class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10"><%= f.text_field :registration_number, class: 'form-control', disabled: true  %></div>
  </div>
  <div class="mb-3 row">
    <%= f.label :email, class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10"><%= f.text_field :email, class: 'form-control', disabled: true %></div>
  </div>

  <div class="mb-3 row">
    <%= f.label :condo_id, class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10"><%= f.text_field :condo_id, class: 'form-control', disabled: true, value: "#{@resident.condo.name}"  %></div> 
  </div>
  <div class="mb-3 row">
    <%= f.label :tower_id, class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10"><%= f.text_field :tower_id, class: 'form-control', disabled: true, value: "#{@resident.tower.name}"  %></div> 
  </div>
  <div class="mb-3 row">
    <%= f.label :floor, class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10"><%= f.text_field :floor, class: 'form-control', disabled: true, value: "#{@resident.floor.identifier}"  %></div> 
  </div>
  <div class="mb-3 row">
    <%= f.label :unit, class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10"><%= f.text_field :unit, class: 'form-control', disabled: true, value: "#{@resident.unit.short_identifier}" %></div> 
  </div>

  <h2>Campos editáveis: </h2>

  <div class="mb-3 row">
    <%= f.label :user_image, class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10"><%= f.file_field :user_image, class: 'form-control' %></div>
  </div>
  <div class="mb-3 row">
    <%= f.label :password, class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10"><%= f.password_field :password, class: 'form-control' %></div>
  </div>
  <div class="mb-3 row">
    <%= f.label :password_confirmation, class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10"><%= f.password_field :password_confirmation, class: 'form-control' %></div>
  </div>

  <%= f.submit "Confirmar Dados", class: 'btn btn-primary' %>
<% end %>