<div class='bg-white rounded-5 py-4 px-5 shadow'>
  <h1>Editar Foto</h1>

  <% if @resident.user_image.attached? %>
    <div class="current-photo d-flex justify-content-center mb-4">
      <%= image_tag @resident.user_image, alt: 'Current Image', style: "width: 200px; height: 200px" %>
    </div>
  <% end %>

  <%= form_with(model: @resident, url: update_photo_resident_path(@resident), method: 'patch') do |f| %>
    <div class="form-row row p-2">
      <div class="form-group col-md-12 mb-2">
        <%= f.label :user_image %>
        <%= f.file_field :user_image, class: 'form-control' %>
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <%= f.submit 'Enviar', class: 'btn btn-dark rounded-pill px-4 mt-3' %>
    </div>
  <% end %>
</div>