<%= render 'shared/errors', model: @resident %>

<div class="bg-white rounded-5 py-4 px-5 shadow">
  <h1>Cadastrar Morador</h1>

  
    <%= form_with(model: @resident) do |f| %>
      <div class="form-row d-flex p-2">
        <div class="form-group col-md-12 pe-3">
          <%= f.label :full_name %>
          <%= f.text_field :full_name, class: 'form-control' %>
        </div>
      </div>

      <div class="form-row d-flex p-2">
        <div class="form-group col-md-6 pe-3", data-controller="mask">
          <%= f.label :registration_number %>
          <%= f.text_field :registration_number, class: 'form-control', maxlength: '14', :'data-action' => 'keyup -> mask#registrationNumberFormated' %>
        </div>

        <div class="form-group col-md-6 pe-3">
          <%= f.label :email %>
          <%= f.email_field :email, class: 'form-control' %>
        </div>
      </div>

      <div class="d-flex justify-content-center">
        <%= f.submit 'Enviar', class: 'btn btn-dark rounded-pill px-4 mt-3' %>
      </div>
    <% end %>
</div>