<%= render "shared/errors", model: @condo %>

<%= form_with(model: @condo) do |f| %>
  <div class="form-row d-flex p-2">
    <div class="form-group col-md-6 pe-3">
      <%= f.label :name %>
      <%= f.text_field :name, class:"form-control" %>
    </div>
    <div class="form-group col-md-6">
      <%= f.label :registration_number %>
      <%= f.number_field :registration_number, class:"form-control" %>
    </div>
  </div>
  <div>
    <%= f.fields_for :address, @condo.address || Address.new do |address_f| %>
    
      <div class="form-row d-flex p-2">
        <div class="form-group col-md-6 pe-3">
          <%= address_f.label :public_place %>
          <%= address_f.text_field :public_place, class:"form-control" %>
        </div>
        <div class="form-group col-md-2 pe-3">
          <%= address_f.label :number %>
          <%= address_f.text_field :number, class:"form-control" %>
        </div>
        <div class="form-group col-md-4 pe-3">
          <%= address_f.label :neighborhood %>
          <%= address_f.text_field :neighborhood, class:"form-control" %>
        </div>
      </div>

      <div class="form-row d-flex p-2">
        <div class="form-group col-md-6 pe-3">
          <%= address_f.label :city %>
          <%= address_f.text_field :city, class:"form-control"  %>
        </div>
        <div class="form-group col-md-4 pe-3">
          <%= address_f.label :state %>
          <%= address_f.select :state, options_for_select(Address::STATES), class:"form-control" %>
        </div>
        <div class="form-group col-md-2 pe-3">
          <%= address_f.label :zip %>
          <%= address_f.number_field :zip, in: 0..99999999, class:"form-control"  %>
        </div>
      </div>
    <% end %>

    <%= f.submit 'Salvar' %>

  </div>

  
<% end %>

<style>
  input[type=number]::-webkit-inner-spin-button { 
      -webkit-appearance: none;
      
  }
  input[type=number] { 
    -moz-appearance: textfield;
    appearance: textfield;
  }
</style>