<%= render "shared/errors", model: @condo %>

<%= form_with(model: @condo) do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :registration_number %>
    <%= f.number_field :registration_number %>
  </div>

  <%= f.fields_for :address, @condo.address || Address.new do |address_f| %>
    <div>
      <%= address_f.label :public_place %>
      <%= address_f.text_field :public_place %>
    </div>
    <div>
      <%= address_f.label :number %>
      <%= address_f.text_field :number %>
    </div>
    <div>
      <%= address_f.label :neighborhood %>
      <%= address_f.text_field :neighborhood %>
    </div>
    <div>
      <%= address_f.label :city %>
      <%= address_f.text_field :city %>
    </div>
    <div>
      <%= address_f.label :state %>
      <%= address_f.select :state, options_for_select(Address::STATES), {} %>
    </div>
    <div>
      <%= address_f.label :zip %>
      <%= address_f.number_field :zip, in: 0..99999999 %>
    </div>
  <% end %>

  <%= f.submit 'Salvar' %>
<% end %>

<style>
  input[type=number]::-webkit-inner-spin-button { 
      -webkit-appearance: none;
      
  }
  input[type=number] { 
    -moz-appearance: textfield;
    appearance: textfield;
  }
</style>