<div class="text-center row justify-content-center">
  <div class="p-0" style="width: fit-content;">
    <h1 class="text-center"><%= @condo.name %></h1>
    <p class="mb-1 text-secondary" style="font-size: 14px;"><%= @condo.full_address %></p>
    <p class="text-secondary" style="font-size: 14px;">CNPJ: <%= @condo.registration_number %></p>
  </div>
</div>

<hr>

<div class="row row-cols-3">
  <div class="col">
    <div class="card rounded-5 shadow-sm">
      <strong class="card-header text-center rounded-top-5" style="background-color: #FDE879;">Mural de Avisos</strong>
      <div class="card-body">
        <div class="alert alert-warning text-center">Em breve</div>
      </div>
    </div>

    <div class="card rounded-5 mt-2 shadow-sm">
      <strong class="card-header text-center rounded-top-5" style="background-color: #FDE879;">Agenda de Reuniões</strong>
      <div class="card-body">
        <div class="alert alert-warning text-center">Em breve</div>
      </div>
    </div>

    <%= link_to '#', class: 'btn d-flex align-items-center justify-content-center rounded-pill py-2 mt-2 fw-bolder shadow-sm', style: "background-color: #FDE879;" do %>
      <p class="m-0">Ver registro de reclamações e ocorrências</p>
      <span class="badge text-bg-light mt-1 ms-1 rounded-pill">Em breve</span>
    <% end %>
  </div>

  <div class="col">
    <% if manager_signed_in? %>
      <%= link_to new_condo_visitor_entry_path(@condo), class:"btn py-2 rounded-pill d-flex justify-content-center align-items-center mb-2 shadow-sm", style: "width: 100%; background-color: #FDE879;" do %>
        <strong>Registrar entrada de visitante</strong>
        <i class="bi bi-pencil-square pb-1 ms-1"></i>
      <% end %>
      <%= link_to condo_visitor_entries_path(@condo), class:"btn py-2 rounded-pill d-flex justify-content-center align-items-center mb-2 shadow-sm", style: "width: 100%; background-color: #FDE879;" do %>
        <strong>Lista de Entradas</strong>
        <i class="bi bi-search ms-1"></i>
      <% end %>
    <% end %>    
    <%= render 'condos/dashboard/todays_visitors' %> 
  </div>

  <div class="col">
    <% if manager_signed_in? %>
      <%= link_to edit_condo_path, class:"btn py-2 rounded-pill d-flex justify-content-center align-items-center mb-2 shadow-sm", style: "width: 100%; background-color: #FDE879;" do %>
        <strong>Editar Condomínio</strong>
        <i class="bi bi-pencil-square pb-1 ms-1"></i>
      <% end %>
        <div class="accordion">
          <% if current_manager.is_super %>
            <%= link_to add_manager_condo_path(@condo), class:"btn py-2 rounded-pill d-flex justify-content-center align-items-center mb-2 shadow-sm", style: "width: 100%; background-color: #FDE879;" do %>
              <strong>Adicionar Administrador</strong>
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-fill-add pb-0 ms-1" viewBox="0 0 16 16">
                <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0m-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                <path d="M2 13c0 1 1 1 1 1h5.256A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1 1.544-3.393Q8.844 9.002 8 9c-5 0-6 3-6 4"/>
              </svg>
            <% end %>
          <% end %>
        </div>
    <% end %>
    
    <div class="accordion">
      <% if manager_signed_in? %>
        <%= render 'condos/dashboard/tower_list' %>
        <%= render 'condos/dashboard/unit_type_list' %>
        <%= render 'condos/dashboard/residents_list' %>
      <% end %>

      <%= render 'condos/dashboard/common_area_list' %>
    </div>

    <div class="accordion mt-2">
      <% if resident_signed_in?%>
        <%= render 'condos/dashboard/bills' %>
      <% end %>
    </div>
  </div>
</div>
