<div class="text-center row justify-content-center">
  <div class="p-0 w-fit">
    <h1 class="text-center"><%= @condo.name %></h1>
    <p class="mb-1 text-secondary fs-sm" ><%= @condo.full_address %></p>
    <p class="mb-1 text-secondary fs-sm">CNPJ: <%= @condo.registration_number %></p>
    <p class="mb-1 text-secondary fs-sm">Síndico: 
      <% if @condo.superintendent%>
        <%= link_to @condo.superintendent.tenant.full_name, condo_superintendent_path(@condo, @condo.superintendent) %>
      <% else %>
        Não há um síndico ativo
      <% end %>  
    </p>
  </div>
</div>

<hr>

<div class="row row-cols-3">
  <div class="col">
    <%= render 'condos/dashboard/announcement_board' %>

    <div class="card rounded-5 mt-2 shadow-sm">
      <strong class="card-header text-center rounded-top-5 bg-light-yellow">Agenda de Reuniões</strong>
      <div class="card-body">
        <div class="alert alert-warning text-center">Em breve</div>
      </div>
    </div>

    <%= link_to '#', class: 'btn btn-warning border-0 d-flex align-items-center justify-content-center rounded-pill py-2 mt-2 fw-bolder shadow-sm bg-light-yellow' do %>
      <p class="m-0">Ver registro de reclamações e ocorrências</p>
      <span class="badge text-bg-light mt-1 ms-1 rounded-pill">Em breve</span>
    <% end %>
  </div>

  <div class="col">
    <% if manager_signed_in? %>
      <%= link_to new_condo_visitor_entry_path(@condo), class:"btn py-2 btn-warning border-0 rounded-pill d-flex justify-content-center align-items-center mb-2 shadow-sm bg-light-yellow w-100" do %>
        <strong>Registrar entrada de visitante</strong>
        <i class="bi bi-pencil-square pb-1 ms-1"></i>
      <% end %>
      <%= link_to condo_visitor_entries_path(@condo), class:"btn btn-warning border-0 py-2 rounded-pill d-flex justify-content-center align-items-center mb-2 shadow-sm bg-light-yellow w-100" do %>
        <strong>Lista de Entradas</strong>
        <i class="bi bi-search ms-1"></i>
      <% end %>
      <%= link_to find_condo_visitors_path(@condo), class:"btn py-2 btn-warning border-0 rounded-pill d-flex justify-content-center align-items-center mb-2 shadow-sm bg-light-yellow w-100" do %>
        <strong>Agenda de visitantes/funcionários</strong>
        <i class="bi bi-people-fill ms-1"></i>
      <% end %>
    <% end %>
    <% if resident_signed_in? && current_resident.residence&.condo == @condo %>
      <%= render 'condos/dashboard/todays_visitors' %> 
    <% end %>
  </div>

  <div class="col">
    <% if manager_signed_in? %>
      <%= link_to edit_condo_path, class:"btn btn-warning border-0 py-2 rounded-pill d-flex justify-content-center align-items-center mb-2 shadow-sm bg-light-yellow w-100" do %>
        <strong>Editar Condomínio</strong>
        <i class="bi bi-pencil-square pb-1 ms-1"></i>
      <% end %>
        <div class="accordion">
          <% if current_manager.is_super %>
            <%= link_to add_manager_condo_path(@condo), class:"btn btn-warning border-0 py-2 rounded-pill d-flex justify-content-center align-items-center mb-2 shadow-sm bg-light-yellow w-100" do %>
              <strong>Adicionar Administrador</strong>
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-fill-add pb-0 ms-1" viewBox="0 0 16 16">
                <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0m-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                <path d="M2 13c0 1 1 1 1 1h5.256A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1 1.544-3.393Q8.844 9.002 8 9c-5 0-6 3-6 4"/>
              </svg>
            <% end %>
          <% end %>
        </div>
    <% end %>
    
    <div class="accordion">
      <% if manager_signed_in? %>
        <%= render 'condos/dashboard/tower_list' %>
        <%= render 'condos/dashboard/unit_type_list' %>
        <%= render 'condos/dashboard/residents_list' %>
      <% end %>

      <%= render 'condos/dashboard/common_area_list' %>

      <% if resident_signed_in? && current_resident&.superintendent %>
        <%= link_to new_condo_fine_path(@condo), class:"btn py-2 rounded-pill d-flex justify-content-center align-items-center mb-2 shadow-sm mt-2", style: "width: 100%; background-color: #FDE879;" do %>
          <strong>Lançar Multa</strong>
          <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" fill="currentColor" class="bi bi-cash-coin pb-0 ms-1" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M11 15a4 4 0 1 0 0-8 4 4 0 0 0 0 8m5-4a5 5 0 1 1-10 0 5 5 0 0 1 10 0"/>
            <path d="M9.438 11.944c.047.596.518 1.06 1.363 1.116v.44h.375v-.443c.875-.061 1.386-.529 1.386-1.207 0-.618-.39-.936-1.09-1.1l-.296-.07v-1.2c.376.043.614.248.671.532h.658c-.047-.575-.54-1.024-1.329-1.073V8.5h-.375v.45c-.747.073-1.255.522-1.255 1.158 0 .562.378.92 1.007 1.066l.248.061v1.272c-.384-.058-.639-.27-.696-.563h-.668zm1.36-1.354c-.369-.085-.569-.26-.569-.522 0-.294.216-.514.572-.578v1.1zm.432.746c.449.104.655.272.655.569 0 .339-.257.571-.709.614v-1.195z"/>
            <path d="M1 0a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h4.083q.088-.517.258-1H3a2 2 0 0 0-2-2V3a2 2 0 0 0 2-2h10a2 2 0 0 0 2 2v3.528c.38.34.717.728 1 1.154V1a1 1 0 0 0-1-1z"/>
            <path d="M9.998 5.083 10 5a2 2 0 1 0-3.132 1.65 6 6 0 0 1 3.13-1.567"/>
          </svg>      
        <% end %>
      <% end %>

    </div>

    <div class="accordion mt-2">
      <% if resident_signed_in? %>
        <%= render 'condos/dashboard/bills' %>
      <% end %>
    </div>
  </div>
</div>
