<h1><%= notice %></h1>
<h1><%= alert %></h1>

<%= link_to 'Editar', edit_condo_path %>

<h1><%= @condo.name %></h1>
<p>CNPJ: <%= @condo.registration_number %></p>
<p>Endereço: <%= @condo.full_address %></p>