<h1><%= @condo.name %></h1>
<p>CNPJ: <%= @condo.registration_number %></p>
<p>Endereço: <%= @condo.full_address %></p>


<% if manager_signed_in? %>
  <%= link_to 'Editar', edit_condo_path, class:"btn btn-dark" %>
<% end %>

<% if manager_signed_in? %>
  <%= link_to 'Listar Torres', condo_towers_path(@condo) %>
<% end %>
