<div class='bg-white rounded-5 py-4 px-5 shadow'>
  <h2 class="text-center">Esqueceu sua senha?</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "managers/shared/error_messages", resource: resource %>
    
    <div class="form-row row p-2">
      <div class="form-group col-md-12 pe-3 mb-2">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
      </div>
    </div>

    <div class="actions d-flex justify-content-center">
      <%= f.submit "Envie-me as instruções para redefinição de senha", class: 'btn btn-dark rounded-pill px-4 mt-1' %>
    </div>
  <% end %>
  <div>

  <div class="d-flex justify-content-center mt-2">
    <%= render "managers/shared/links" %>
  </div>
</div>
