<section class='bg-white rounded-5 py-4 px-5 shadow'>
  <h1><%= @tower.name %></h1>
  <h2><%= @unit.floor.print_identifier %></h2>
  <h3><%= @unit.print_identifier %></h3> 
  <p><%= @unit.unit_type.description %></p>
  <p><%= @unit.unit_type.metreage_to_square_meters %></p>
</section>