<!DOCTYPE html>
<html>
  <head>
    <title>Cola?Bora</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <nav>
      <% if manager_signed_in? %>
        <%= link_to 'Cadastrar novo administrador', new_manager_path %>
        <%= current_manager.description %>
        <%= link_to 'Sair', destroy_manager_session_path, data: { turbo_method: :delete} %>
      <% else %>
        <%= link_to 'Entrar como administrador', new_manager_session_path %>
      <% end %>
    </nav>
    <div class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
  </body>
</html>
