<!DOCTYPE html>
<html>
  <head>
    <title>Condominions</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <nav>
      <% if manager_signed_in? %>
        <%= link_to 'Cadastrar novo administrador', new_manager_path %>
        <div>
          <% if current_manager.user_image.attached? %>
            <img src="<%= url_for(current_manager.user_image)%>" style="width: 100px; height: 100px; border-radius: 3rem" %>
          <% else %>
            <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" style="width: 100px; border-radius: 3rem">
          <% end %>
        </div>
        <%= current_manager.description %>
        <%= link_to 'Sair', destroy_manager_session_path, data: { turbo_method: :delete} %>
      <% else %>
        <%= link_to 'Entrar como administrador', new_manager_session_path %>
      <% end %>
    </nav>
    <div class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
  </body>
</html>
